/* Selector {
    Property:value;
} */

body{
    background-image:url(bg2.jpg);
    background-size: cover;
}

h2{
    color:#91464F;
    text-align: center;
    border: 10px dashed rgba(255, 255, 0,0.5);
    cursor: pointer;
}

p{
    color: green;
}

ul li{
    display: inline-block;
}

